@model ACDenkiRyokin.Models.denki_ryokin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>denki_ryokin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChangeInfomation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeInfomation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applicant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applicant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManagementID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
