@model IEnumerable<ACDenkiRyokin.Models.denki_ryokin>

@{
    ViewBag.Title = "Index";
}

<h3>ログイン名：○○事業部　○○様</h3>
<br />

<h3>変更情報検索</h3>

@using (Html.BeginForm("Search", "Lendlist", FormMethod.Post))
{
    <div class="form-group row">

        <div class="col-md-4">
            管理ID
            @Html.TextBox("ManagementID", null, new { @class = "form-control" })
        </div>

        <div class="col-md-4">
            変更情報
            @Html.TextBox("ChangeInfomation", null, new { @class = "form-control" })
        </div>

        <div class="col-md-4">
            変更日
            @Html.TextBox("Date", null, new { @class = "form-control" , Type="date" })
        </div>

        <div class="col-md-4">
            変更者
            @Html.TextBox("Applicant", null, new { @class = "form-control" })
        </div>

        <div class="col-md-4">
            ステータス
            @Html.TextBox("Status", null, new { @class = "form-control" })
        </div>

    </div>

    ///クリアボタンの動作に問題あり
    <div>
        <input type="submit" class="btn btn-primary btn-lg h3" value="検索" />
        <input type="reset" class="btn btn-primary btn-lg h3" value="クリア" />
    </div>

}
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManagementID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeInfomation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applicant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManagementID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeInfomation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Applicant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("選択", "Details", new { id = item.ManagementID })
            </td>
        </tr>
    }

</table>


<br />

@using (Html.BeginForm("CsvDownload", "Lendlist", FormMethod.Get))
{
    <button class="btn btn-primary btn-lg" value="download" name="download" type="submit">CSV出力</button>
}
